#login{
    width: 100px;
    height: 40px;
    background-color: rgb(235, 84, 84);
    color: #ffffff;
    border-radius: 20px; /* torna as bordas redondas*/
    border: none; 
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    
    height: 500px;
    width: 500px;

}
 .texto-banner{
    font-size: 60px;
    font-weight: bolder;
 }
 .caixa-texto{
    width: 500px;
    display: flex;
    justify-content: center;

 }
 .caixa-estrutura{
    display: flex;
    flex-direction: row;

 }

 #Food{
    color: red;
 }

 #btn-get{
    width: 100px;
    height: 40px;
    background-color: rgb(206, 46, 46);
    color: rgb(255, 255, 255);
    border-radius: 20px; /* torna as bordas redondas*/
    border: none; 
}
.caixatitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    

}
.titulos-secundario{
    color: rgb(206, 46, 46);
    font-weight: 500;

}
.titulos-primario{
    font-weight: bolder;
    font-size: 40px;

}
.caixa-indi{
    display: flex;
}